retriv
matplotlib==3.8.4
numpy==1.26.4
openai==1.37.2
pandas==2.2.1
sacrebleu==2.4.1
spacy==3.7.4
torch==2.2.2
tqdm
transformers==4.45.2
wonderwords==2.2.0
unbabel-comet==2.2.2
datasets==3.2.0
rouge==1.0.1
xlsxwriter==3.2.0